@import "../../assets/styles/variables/theme.scss";

.root-header {
  height: 126px;
  width: 100%;
  background-color: $primaryColor;
  .header-content {
    width: 100%;
    height: 100%;
    position: relative;
    .logo {
      width: 131px;
      height: auto;
      position: absolute;
      top: 33px;
    }

    .search-box {
      position: absolute;
      right: 0;
      bottom: 0;
      input {
        border: none;
        background: transparent;
        border-bottom: 2px solid white;
        width: 38px;
        padding: 0px 27px;
        height: 45px;
        transition: 0.3s;
        outline: none;
        color: transparent;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Roboto';
        cursor: pointer;
        &:focus {
          width: 300px;
          color: white;
          background-color: $lightBlueColor;
          cursor: text;
        }
        &:focus::placeholder {
          visibility: visible;
          color: white;
          opacity: 0.4;
        }
      }
      input::placeholder {
        visibility: hidden;
      }
      .search-icon {
        position: absolute;
        top: 14px;
        right: 40px;
        pointer-events: none;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .root-header {
    height: 75px;
    .header-content {
      .logo {
        width: 94px;
        height: auto;
        position: absolute;
        top: 22px;
        left: 6px;
      }

      .search-box {
        input {
          &:focus {
            width: 200px;
          }
        }
      }
    }
  }
}
