@import "../../assets/styles/variables/theme.scss";

.select-container {
  position: relative;

  .select-icon {
    position: absolute;
    height: 11px;
    width: auto;
    right: 16px;
    top: 19px;
  }
  select {
    width: 90%;
    float: right;
    height: 40px;
    position: relative;
    top: 6px;
    border: none;
    border-bottom: 1px solid;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    background-color: transparent;
    appearance: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .select-container {
    select {
      top: 36px;
    }
  }
}
